annotated-types
anyio
certifi
click
h11
httpcore
httpx
httpx-sse
idna
markdown-it-py
mcp
mdurl
pydantic
pydantic-core
pydantic-settings
pygments
python-dotenv
rich
shellingham
sniffio
sse-starlette
starlette
typer
typing-extensions
typing-inspection
uvicorn
